body{
    margin: 0;
    background-color: rgb(252, 227, 196);
    
}

.HEADER{
    width: 100%;
    font-size: 24px;
    height: 50px;
    background-color: rgb(15, 87, 15);
    
}

.HEADER_link{
    
    margin-right: 25px;
    color: rgb(253, 255, 224);
}

.HEADER_texto{
    
    margin-right: 50%;
    margin-left: 10px;
    
    display: inline;
}

.HEADER_container{
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 255, 224);
}




.Conteudo_Container{
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(255, 233, 206);
    border-bottom-left-radius: 5px;   
    border-bottom-right-radius: 5px;
    
}

.Conteudo_Campanha1{
    border: 2px solid rgb(112, 112, 112);
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1%;
    margin-left: 15px;
    padding-left: 5px;
}

.Conteudo_Campanha2{
    border: 2px solid rgb(112, 112, 112);
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1%;
    margin-left: 15px;
    padding-left: 5px;
}

.Conteudo_Campanha3{
    border: 2px solid rgb(112, 112, 112);
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 1%;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-left: 5px;
}

.Conteudo_Titulo{
    margin-left: 5px;
}

.Conteudo_Imagem{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.Conteudo_Linha{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.Conteudo_Linha p{
    margin: 0;
}

.Conteudo_Data{
    display: flex;  
    margin-right: 10px;
    justify-content: space-between; 
    align-items: center;       
    
}